@font-face {
    font-family: SF UI Display-Ligth;
    src: local('SF UI Display-Ligth'), local('SF UI Display-Ligth'),
    url('../fonts/SFUIDisplay-Light.woff') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
    font-family: SF UI Display-Thin;
    src: local('SF UI Display-Thin'), local('SF UI Display-Thin'),
    url('../fonts/SFUIDisplay-Thin.woff') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
    font-family: SF UI Display;
    src: local('SF UI Display'), local('SF UI Display'),
    url('../fonts/SFUIDisplay-Regular.woff') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
    font-family: SF UI Display-Ultralight;
    src: local('SF UI Display-Ultralight'), local('SF UI Display-Ultralight'),
    url('../fonts/SFUIDisplay-Ultralight.woff') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
    font-family: SF UI Display-black;
    src: local('SF UI Display-black'), local('SF UI Display-black'),
    url('../fonts/sf-ui-display-black.otf') format('opentype'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
  
body {
    margin: 0;
    font-family: SF UI Display;
    font-weight: 400;
    background-color: #000;
    color: #fff;
}
  
*, *::after,*::before {
    box-sizing: inherit;
}

h3 {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
}

.container {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-image: linear-gradient(to right, 
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)), url(../img/bg-top.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    min-height: 1064px;
    padding-top: 40px;
}

nav {
    display: flex;
    margin-left: 44px;
    transform: translateY(-16px);
}

.links {
    list-style-type: none;
}

.links a {
    margin: 0px 52px;
    font-weight: 600;
}

.links a:hover {
    padding-bottom: 14px;
    border-bottom: 1px solid #fff;
}

.list-item .list-info {
    max-width: 600px;
    width: 100%;
}

.hidden-info .list-item:last-child {
    padding-bottom: 0;
}
a:hover {
    cursor: pointer;
}

.navigation {
    display: flex;
    align-items: center;
    color: #fff;
    margin-bottom: 226px;
}

.top-descript {
    margin-left: 206px;
}

.nav-item {
    margin: 0 0 116px;
    padding: 0;
    display: flex;
    font-size: 14px;
    font-weight: 600;
}
  
.log, .sing {
    padding: 8px;
    display: flex;
    justify-content: center;
    width: 100px;
    background: transparent;
}

a {
    text-decoration: none;
    color: #fff;
} 

.title {
    font-family: SF UI Display;
    font-size: 56px;
    margin: 0 0 52px 0;    
    font-weight: 100;
}

.sub-title {
    font-family: SF UI Display;
    font-size: 27px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 96px;
}

.checkbox p {
    font-family: SF UI Display;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

.btn-conect, .btn-more, .btn-order, .btn-send {
    font-family: SF UI Display;
    width: 360px;
    height: 86px;
    border: 0.5px solid #FFFFFF;
    box-sizing: border-box;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    font-weight: 600;

}
.btn-conect:hover, .btn-order:hover,.popup .btn-send:hover, .btn-send:hover,
.btn-conect:hover span, .btn-order:hover span{
    background-color: #fff;
    color: #000;
}

.btn-more:hover, .btn-more:hover span{
    background-color: #000;
    color: #fff;
   
}

.btn-conect span, .btn-order span {
    font-size: 24px;
    line-height: 29px;
    color: #fff;

}

p {
    margin: 0;
}

.info {
    padding-top: 100px;
    margin-bottom: 50px;
    font-family: SF UI Display-Ligth;
    font-weight: 300;
    font-size: 20px;
    line-height: 140%;}

.services {
    margin-top: 70px;
    padding-top: 30px;
    margin-bottom: 200px;
}

.btn-order {
    margin-bottom: 110px;
}

.block {
    display: flex;
    justify-content: space-between;
    border-top:0.5px solid #FFFFFF;
    padding-top: 30px;
}

.list-item:hover {
    cursor: pointer;
}


.block-rigth {
    font-size: 26px;
    line-height: 31px;
    margin: 0;
    margin-right: 236px;
    width: 22%;
}

.block-left {
    width: 100%;
}

.block-left .list-item {
    list-style-type: none;
    border-top: 0.5px solid #FFFFFF;
    font-size: 24px;
    padding: 30px 0;
    position: relative;
}

.block-left .list-item:first-child {
    padding-top: 0;
    border-top: 0;
}

.block-left .list-item:last-child{
    border-bottom: 0.5px solid #FFFFFF;
}

.hidden-info .list-item:last-child{
    border-bottom: 0;
}

.hidden-info .list-item:first-child h3::after{
    top: 40px;
}

.hidden-info .list-item:first-child {
    border-top: 0.5px solid #FFFFFF;
    padding-top: 30px;
}

.block-left li:first-child h3::after{
    top: 12px;

}
.block-info::after {
    content: "";
    display: inline-block;
    height: 12px;
    width: 18px;
    background-image: url(../img/arrow-down.svg);
    position: absolute;
    position: absolute;
    right: 18px;
    top: 40px;
    transition: transform .5s;
}

.block-info.up::after {
    transition: transform .5s;
    transform: rotate(180deg);
}

.portfolio {
    background-color: #F4F4F4;
    color: #000;
    padding-bottom: 200px;
}

.columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.portfolio-title {
    margin: 0;
    padding-top: 162px;
    margin-bottom: 160px;
    color: #000;
    font-size: 26px;
    line-height: 31px;
}

.rpblock, .lpblock {
    margin-bottom: 350px;
    max-width: 500px;
}

.rpblock img, .lpblock img {
    max-width: 500px;
    max-height: 500px;
    width: 100%;
    height: 100%;
}

.pblock-title {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 6px;
    padding-top: 18px;
}

.pblock-span { 
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;    
}

.left-pblock .lpblock:first-child {
    padding-top: 376px;
}

.lpblock:last-child{
    margin-bottom: 156px;
}

.btn-more, .popup .btn-send {
    border: 0.5px solid #000000;
    color: #000;
    font-size: 24px;
    line-height: 29px;
    font-weight: bold;
}

.smm-mobile {
    display: none;
}

.more {
    text-align: center;
}

.design {
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    border-top: 0.5px solid #FFFFFF;
    padding: 32px 0;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    font-family: SF UI Display-Ligth;

}


.btn-send {
    font-size: 24px;
    line-height: 29px;
}

.send-info {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 0 0 30px;
} 

.contact {
    text-transform: uppercase;
    color: white;
    display: flex; 
    justify-content: space-between;
    padding-top: 160px;
    margin-bottom: 200px;
    flex-wrap: wrap-reverse;
}

.crigth-title {
    margin-bottom: 116px;
    font-size: 26px;
    line-height: 31px;
    font-weight: bold;
}

.phone, .mail {
    font-style: normal;
    font-weight: 300;
    font-weight: 300;
    font-size: 26px;
    line-height: 120%;
    margin-bottom: 22px;
    font-family: SF UI Display-Ligth;
    text-transform: none;
}

.crigth-title {
    margin-top: 0;
    text-transform: none;
}

.social img {
    width: 30px;
    height: 30px;
    margin-right: 30px;
}

.sub-title {
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 140%;
    color: #fff;
    text-transform: none;
}

input {
    margin: 0 30px 30px 0;
}

input:last-child {
    margin-bottom: 0;
}

.confir, textarea {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}


.confir div {
    width: 100%;
    margin-bottom: 20px;
}

textarea {
    width: 456px;
    flex-direction: column;
}

.btn-send {
    width: 300px;
height: 72px;
}

.holder {
    width: 100%;
    display: block;
    color: rgba(255, 255, 255, 0.7);
    padding: 18px 20px 18px 0;
    font-size: 20px;
    line-height: 24px;
    border-radius: 2px;
    border:none;
    border-bottom: 1px solid #FFFFFF;
    box-sizing: border-box;
    resize: none;
    background-color: transparent;
    letter-spacing: -0.025em;
    font-family: SF UI Display;
    font-weight: 300;
}

.button {
    display: block;
    margin: 0 auto;
    padding: 22px 46px;
    color: #ffffff;
    font-family: "Montserrat", serif;
    font-weight: 700;
    font-size: 18px;
    border-radius: 2px;
    border: none;
    background: #fed136;
    letter-spacing: -0.025em;
    text-transform: uppercase;
}


.conteiner_form {
    max-width: 500px;
    width: 100%;
}

div.hidden-info {
    padding-top: 30px;
}

input:focus {
    outline: none;
}

.overlay {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100vh;
    z-index: 10;
}

.overlay-img {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100vh;
    z-index: 10;
    overflow-y: scroll;
    cursor: pointer;
}
.overlay-img::-webkit-scrollbar {
    width: 10px;
  }

  .overlay-img::-webkit-scrollbar-thumb {
    background: #000; 
    width: 2px;
    height: 40px;
}

.overlay-img img {
    margin: 0 auto;
    max-width: 1170px;
    width: 100%;
    display: none;
}

.over-close {
    display: block !important;
    width: 20px !important;
    position: fixed;
    height: 20px;
    right: 14px;
    top: 20px;
}

.popup {
    position: absolute;
    width: 760px;
    height: 804px;
    top: 57px;
    background-color: #fff;
    left: 24%;

}

.pop-form {
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 140%; 
    color: #000;
    padding: 140px 0 0 130px;
}

.pop-title {
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 140%;
    margin-bottom: 150px;
}

.popup .holder {
    max-width: 500px;
    width: 100%;
    height: 0px;
    left: 470px;
    top: 430px;  
    border-bottom: 1px solid #000000;
    padding: 26px 0;
    color: #000;
}

.popup .holder:last-child {
    margin-bottom: 20px;
}

.popup .btn-send  {
    background-color: #000;
    color: #fff;
}

.res-img {
    position: absolute;
    width: 18px;
    height: 18px;
    right: 198px;
    top: 57px;
    cursor: pointer;
}

.send-result {
    display: none;
    position: absolute;
    color: #000;
    width: 760px;
    height: 400px;
    left: 30%;
    top: 208px;
    background-color: #fff;
}

.agreement {
    display: none;
    position: fixed;
    width: 960px;
    height: 600px;
    left: 16%;
    top: 208px;
    background-color: #fff;
    color: #000000;
    padding: 60px;
    z-index: 10;
}

.scroll {
    overflow-y: scroll;
    width: 840px;
    height: 520px;
}

::-webkit-scrollbar {
    width: 1px;
  }
  

   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #8B8B8B; 
    width: 2px;
    height: 40px;
  }
  
.scroll p {
    font-family: SF UI Display;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 40px;
 }

 .sscroll span {
    font-family: SF UI Display;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;

 }

.title-arg {
    font-family: SF UI Display;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 110%;
}


.agr-img {
    position: absolute;
    width: 18px;
    height: 18px;
    right: 198px;
    top: 57px;
    cursor: pointer;
}

.send-result img {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 340px;
    top: 88px;
}

.result-title, .result-subtitle {
    margin: 0;
    text-align: center;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
}

.result-title {
    padding-top: 220px;
}

.rigth-pblock .rpblock:last-child{
    display: none;
}

.mail-link {
    display: none;
}


.mobile-block  {
    display: none;
}

.checkbox {
    color: #fff;
    text-transform: none;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    text-align: justify;
}

.checkbox {
	position:relative;
}
.checkbox input[type=checkbox] {
	display:none;
}


.checkbox a {
    text-decoration: underline;
    color: #000;
}

.confir .checkbox a {
    text-decoration: underline;
    color: #FFFFFF;
}

.popup .checkbox {
    color: #000;
    margin-bottom: 30px;
}

.popup .checkbox:checked + label{ 
    width: 26px;
    height: 26px;
    outline: 1px solid #000;
    background-image: url(/img/check-black.svg);
    background-position: center;
    background-repeat: no-repeat;
}


form .checkbox label:after{ 
    background-image: url(/img/check-white.svg);
    background-position: center;
    background-repeat: no-repeat;
}


.check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
  }
  
  .check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: 1px solid #fff;
  }
  
  .pop-form .checkmark {
    border: 1px solid #000;
 
  }
  /* .check:hover input ~ .checkmark {
    background-color: transparent;
  } */
  
  .check input:checked ~ .checkmark {
    background-image: url(../img/check-white.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  .pop-form .check input:checked ~ .checkmark {
    background-image: url(../img/check-black.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .check input:checked ~ .checkmark:after {
    display: block;
}
  
.checkbox a:hover {
    cursor: pointer;
} 

.desktop-block {
    display: block;
}

.design{
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    flex-wrap: wrap-reverse;
}

.design a:last-child {
    text-decoration: underline;
}


@media (min-width: 768px) and (max-width: 1160px) { 
    
    .navigation {
        padding: 0 30px;
    }

    .links a {
        margin: 0px 32px;
    }

    .top-descript{
        margin-left:150px;
    }
    .block-rigth {
        margin-right: 40px;
        width: 30%;
    }

    .services {
        padding: 30px 20px 0;
    }
    .portfolio {
        padding: 0 30px;
    }
    
    .contact {
        padding: 160px 30px 0;
        justify-content: center;
    }
    .contact-rigth {
        margin-right: 30px;
        padding-top: 100px;
    }

    .conteiner_form{
        padding-bottom: 70px;
        border-bottom: 0.5px solid #FFFFFF;
    }
    
    .design {
        padding-left: 30px;
    }
     .columns {
        justify-content: center;
    }

    .rpblock, .lpblock {
        margin-bottom: 150px;
    }

    .left-pblock .lpblock:first-child {
        padding-top: 0;
    }
    .more {
        padding-bottom: 100px;
    }
   
    .mobile-block  {
        display: block;
    }

    .desktop-block {
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 767px) { 
    

    
header {
    background-image: linear-gradient(to right, 
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)), url(../img/bg-top-mob.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    min-height: 1064px;
    padding-top: 24px;

}


    header {
        min-height:544px;
    }

    .container {
        padding: 0 12px;
        
    }
    
    .navigation {
        margin-bottom: 50px;
        justify-content: space-between;
    }

    .top-descript {
        margin: 0;
    }

    .title {
        font-size: 36px;
        margin: 0 0 12px 0;
    }

    .sub-title {
        font-size: 18px;
        margin-bottom: 20px;
        text-align: left;
    }

    .btn-conect, .btn-more, .btn-order, .btn-send {
        width: 210px;
        height: 60px;
        margin-bottom:8px
    }

    .btn-conect span, .btn-order span {
        font-size: 18px;
    }

    .services {
        margin: 60px 0;
    }

    .block-rigth {
        margin-right: 0;
        width: 100%;
        padding: 0 0 26px 0;
        border-bottom: 0.5px solid #FFFFFF;
        font-size: 24px;
        font-family: SF UI Display-black;
        font-weight: 900;
        line-height: 29px;
    }
    
    .block {
        flex-wrap: wrap;
    }

    .block-left .list-item:first-child {
        padding: 30px 0;
    }

    .block-left li:first-child h3::after {
        top: 46px;
    }

    h3 {
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        width: 82%;
    }

    .info {
        font-family: SF UI Display-Ligth;
        font-weight: 300;
        font-size: 14px;
        padding-top:0;
    }

    .smm-desktop{
        display: none;
    }

    .smm-mobile {
       display: block;
    }

    .block-info::after {
        height: 12px;
        top: 36px;   
    }

    .list-item .list-info {
        width: 84%;    }
    
    .portfolio-title {
        padding-top: 50px;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;    
        margin-bottom: 40px;
        font-family: SF UI Display-black;
        font-weight: 900;

    }

    .btn-more, .popup .btn-send {
        font-size: 18px;
    }

    .rpblock, .lpblock {
        min-width: 290px;
        width: 100%;
        margin-bottom:50px;
    }

    .pblock-title {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
    }
     
    .pblock-span {
        font-weight: 300;
        font-size: 14px;
        line-height: 14px;
    }

    .left-pblock .lpblock:first-child {
        padding: 0;
    }

    .lpblock:last-child {
        margin-bottom: 50px;
    }

    .portfolio {
        padding-bottom:52px;
    }

    .contact {
        font-weight: normal;
        font-size: 18px;
        line-height: 140%;
        justify-content: left;
        padding-top: 50px;
        margin-bottom: 54px;
    }

    .holder {
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
    }

    .btn-send {
        margin: 0 auto;
        font-size: 18px;
        margin-left: 34px;
    }

    .contact-rigth {
        margin-right: 30px;
        padding-top: 8px;
    }

    .conteiner_form{
        padding-bottom: 70px;
        border-bottom: 0.5px solid #FFFFFF;
        margin-bottom: 60px;
    }
    
    .design {
        padding: 10px 30px 0 0;
        margin-bottom: 10px;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
    }

    .design a:last-child {
        margin-bottom: 10px;
    }

    .crigth-title{
        font-weight: bold;
        font-size: 24px;
        line-height: 21px;
        margin-bottom: 40px;
        font-family: SF UI Display-black;
        font-weight: 900;

    }
    .phone, .mail{
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 120%;
    }
    .columns {
        justify-content: center;
    }

    .open,
    .close {
        display: inline-block;
        cursor: pointer;
        color: transparent;
        text-decoration: none;
        transition: 0.5s;
        cursor: pointer;
    }

    .open:hover,
    .close:hover {
        cursor: pointer;
    }

    .open {
        height: 32px;
        width: 32px;
        top: 34px;
        right: 20px;
        position: fixed;
        background-image: url(../img/menu.svg);
    }

    .close {
        color: transparent;
        position: absolute;
        right: 14px;
        top: 36px;
        cursor: pointer;
        height: 32px;
        width: 32px;
        background-image: url(../img/close_mobile.svg);
    }

    .mobile-menu {
        position: fixed;
        display: none;
        flex-wrap: wrap;
        right: 0;
        top: 0;
        background-color: #fff;
        opacity: 1;
        overflow-x: hidden;
        height: 100vh;
        transition: 0.5s; 
        margin-left: 0;
        transform: translateY(0);
        align-content:flex-start;
        padding-top: 106px;
        z-index: 5;
    }

    .links {
        margin-bottom: 20px;
    }

    .links a, .mail-link a{
        color: #000;
        font-weight: 600;
        font-size: 18px;
        line-height: 140%;
        margin-left: 16px;
        margin-right: 180px;    
    }

    .mail-link {
        display: block;
        position: absolute;
        bottom: 0;
    }

    .mobile-block  {
        display: block;
    }

    .desktop-block {
        display: none;
    }
    .checkbox p { 
    font-size: 10px;
    }


}

@media (min-width: 568px) and (max-width: 767px) { 

    .links a {
        margin: 0px 20px;
    }

    /* .mobile-block  {
        display: none;
    }

    .desktop-block {
        display: block;
    } */
}


@media (min-width: 320px) and (max-width: 767px)  {
 .popup {
    height: 100vh;
    display: flex;
    justify-content: center;
 }
 }



@media (min-width: 320px) and (max-width: 1440px)  {

    .popup {
        top: 0;
        left: 0;
        height: fit-content;
        width: 100%;
        z-index: 6;
        display: flex;
        justify-content: center;
    }

    .agreement {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 6;
        padding: 36px 14px 2px;
    }
    .scroll {
        height: 100%;
        width: 100%;
    }
    .pop-form {
        padding: 100px 0 0 10px;
    }
    .pop-title {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 140%;
        margin-bottom:30px;
    }

    .popup .holder {
        width: 96%;   
        font-weight: 300;
        font-size: 12px;
        line-height: 14px; 
    }
    .popup .btn-send {
        margin: 0 0 60px 34px;    
    }

    .send-result {
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        z-index: 5;
    }

    .title-arg {
        font-family: SF UI Display;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 110%; 
        padding-right: 30px;
    }

    .scroll p {
        font-size: 14px;
    }

    .result-title, .result-subtitle {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 140%;
        text-align: center;
    }

    .send-result img {
        left: 43%;
        top: 120px;
    }

    ::-webkit-scrollbar {
        width: 0;
      }
      .close {
        color: transparent;
        position: absolute;
        right: 14px;
        top: 36px;
        cursor: pointer;
        height: 32px;
        width: 32px;
        background-image: url(../img/close_mobile.svg);
    }

}
@media (min-width: 320px) and (max-width: 567px)  {
    .popup {
       height: 100vh;
   }
}